<% content_for(:hide_navbar, true) %>

<div class="hero py-10">
  <div class="hero-content w-full">
    <div class="basis-5/12 self-start">
      <h1 class="text-2xl font-bold"><%= t('.sign_in') %></h1>
      <p class="py-6">Deviseの検証用のアプリです。EメールもしくはGitHub, Google, Twitterアカウントでログインができます。</p>
    </div>
    <div class="basis-7/12">
      <div class="max-w-sm mx-auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-control w-full">
            <%= f.label :email, class: 'label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input input-bordered w-full' %>
          </div>

          <div class="form-control w-full">
            <%= f.label :password, class: 'label' %>
            <%= f.password_field :password, autocomplete: 'current-password', class: 'input input-bordered w-full' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-control w-full">
              <div class="flex items-center">
                <%= f.check_box :remember_me, class: 'checkbox' %>
                <%= f.label :remember_me, class: 'label cursor-pointer w-full ml-1' %>
              </div>
            </div>
          <% end %>

          <div class="form-control mt-6">
            <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
          </div>
        <% end %>

        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>

